<%= form_with(model: shirt, local: true) do |form| %>
  <% if shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shirt.errors.count, "error") %> prohibited this shirt from being saved:</h2>

      <ul>
      <% shirt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :shirt_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :shirt_price %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.text_field :brand_name, data: { autocomplete: autocomplete_brand_name_shirts_path } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
