<p id="notice"><%= notice %></p>

<h1>Shirts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shirts.each do |shirt| %>
      <tr>
        <td><%= shirt.name %></td>
        <td><%= shirt.price %></td>
        <td><%= shirt.brand.name %></td>
        <td><%= link_to 'Show', shirt %></td>
        <td><%= link_to 'Edit', edit_shirt_path(shirt) %></td>
        <td><%= link_to 'Destroy', shirt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shirt', new_shirt_path %>
