<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shirt.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shirt.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @shirt.brand.name %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
